server:
  port: 8083

spring:
  application:
    name: transaction-service
  config:
    import: optional:configserver:http://localhost:9000
  cloud:
    config:
      profile: dev

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    shutdown:
      enabled: true
    restart:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

backend:
  service:
    account: 'http://account-service/accounts'
    credit: 'http://credit-service/credits'